body
{
  background-image: url("../images/background.jpg");

}

h1
{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-size: 80px; 
    font-weight: 400; 
    color: blue;

}

th{
  
}

img {
width: 100px;
  height: 100px;
}
