body
{
  background-image: url("../images/background.jpg");
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-weight: 400; 


}

h1
{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-size: 70px; 
    font-weight: 400; 
    color: white;

}

th{
      color: white;
    text-align: center;

}

td{
      color: white;
    text-align: center;

}

img {
  width: 100px;
  height: 100px;
}
